@media(max-height:680px) {
    #gameContainer{
        width: 310px !important;
        height:660px !important;
    }
}
@media(max-height:580px) {
    #gameContainer{
        width: 260px !important;
        height:560px !important;
    }
}
@media(max-height:480px) {
    #gameContainer{
        width: 210px !important;
        height:460px !important;
    }
}
